.project-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 500px;
  height: 400px;
  margin-top: 24px;
  margin-right: 16px;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  background-color: rgba(white, 0.2);

  &:hover {
    background-color: rgba(white, 0.8);
    cursor: pointer;
  }
}

.proeject-detail {
  color: white;
}