@font-face {
  font-family: "flower";
  src: url("../assets/fonts/IndieFlower-Regular.ttf")
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #014422;
  font-family: 'flower', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'flower', sans-serif;
}
