// color
$green1           : #014422;
$green2           : #006727;
$green3           : #248823;
$green4           : #25a032;
$green5           : #a4d279;

// font
@font-face {
  font-family: "Alegreya";
  src: url("../assets/fonts/Alegreya-Regular.ttf")
}
@font-face {
  font-family: "AlegreyaSC";
  src: url("../assets/fonts/AlegreyaSC-Regular.ttf")
}